<meta name="referrer" content="no-referrer"/>

<!-- Fonts: Source Serif 4 (English headings) + Noto Serif SC (Chinese serif) + JetBrains Mono (code) -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,400;0,8..60,700;0,8..60,900;1,8..60,400&family=JetBrains+Mono:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Noto+Serif+SC:wght@400;700;900&display=swap" rel="stylesheet">
