{#- 文章正文开始前：微信公众号二维码 -#}
<div style="text-align: center; margin-bottom: 1em;">
  <img src="https://cdn.nadav.com.cn/gh/nadav-cheung/img-repo/hexo-blog/%E6%89%AB%E7%A0%81_%E6%90%9C%E7%B4%A2%E8%81%94%E5%90%88%E4%BC%A0%E6%92%AD%E6%A0%B7%E5%BC%8F-%E6%A0%87%E5%87%86%E8%89%B2%E7%89%88.png"
       alt="个人公众号"
       style="max-width: 200px; border-radius: 6px; border: 1px solid #efe8e8;">
</div>
