<!-- 文章结尾提示 还要在学吗？-->
<div>
   {% if theme.passage_end_tag.enabled %}
     <div style="text-align:center;color: #ccc;font-size:14px;">
     -------------
     <i class="fa fa-paw"> </i>
     已经到底啦！还要继续学吗？
     <i class="fa fa-paw"></i>
     -------------
     </div>
   {% endif %}
</div>