{#- 侧边栏：微信公众号二维码 + 音乐播放器 -#}
<div style="margin-bottom: 1em;">
  <img src="https://cdn.nadav.com.cn/gh/nadav-cheung/img-repo/hexo-blog/%E6%89%AB%E7%A0%81_%E6%90%9C%E7%B4%A2%E8%81%94%E5%90%88%E4%BC%A0%E6%92%AD%E6%A0%B7%E5%BC%8F-%E6%A0%87%E5%87%86%E8%89%B2%E7%89%88.png"
       alt="个人公众号"
       class="my-wechat-sidebar-image"
       loading="lazy">
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.css">
<script src="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/meting@2.0.1/dist/Meting.min.js"></script>
<meting-js
  server="netease"
  type="playlist"
  id="9164295991"
  fixed="false"
  mini="false"
  autoplay="false"
  preload="none"
  order="list"
  loop="all"
  volume="0.5"
></meting-js>
